@import url('https://fonts.googleapis.com/css?family=Mukta');

:root {
  --canvas-size: 500px;

  --brick-color: #e74c3c;
}

body {
  margin: 0px;
  padding: 25px;
  font-family: 'Mukta';
  overflow: scroll;
  background: #fff;
  color: #000;
}

.canvas-tools-box {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.tool-box {
  --button-border-radius: 8px;
  --button-border-width: 2px;
  --button-background-color: #222222;
  --button-padding: 5px;
  --button-color: white;

  display: flex;
  background-color: var(--brick-color);
  border: 5px solid brown;
  flex-direction: column;
  justify-content: space-around;
}

.tool-box > button {
  cursor: pointer;
  border: var(--button-border-width) solid white;
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: var(--button-padding);
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: cornflowerblue;
}

button.selected {
  color: yellow;
}

.canvas-wrapper {
  position: relative;
  width: var(--canvas-size);
  height: var(--canvas-size);
  border: 10px solid brown;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  border-width: 2px;
  /* background-color: beige; */
  cursor: pointer;
}

#canvas-draft {
  background-color: transparent;
}

.colour-picker {
  border: 2px black solid;
  margin: 0 auto;
  text-align: center;
}

/* .tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.show-clicked {
  background-color: yellow;
} */